<% content_for :assets do %>
  <%= javascript_include_tag "gallery", type: "module" %>
<% end %>

<div class="py-10vh bg-primary text-white">
  <div class="container text-center font-family-cinzel">
    <h1>Nous sommes mariés !</h1>
  </div>
</div>

<div id="gallery">
  <% data.paris_oui.photos.each do |photo| %>
    <a href="<%= photo.src %>"
      data-pswp-width="<%= photo.width %>"
      data-pswp-height="<%= photo.height %>">
      <img src="<%= photo.src %>"
        srcset="<%= photo.srcSet %>"
        width="<%= photo.width %>"
        height="<%= photo.height %>">
    </a>
  <% end %>
</div>

<div class="py-5 bg-primary text-white">
  <div class="container text-center font-family-cinzel">
    <h3>Merci !</h3>
  </div>
</div>
