---
title: All
description: This is all of it.
---
<div class="container">
  <section>
    <h2>Paris</h2>
    <ul>
      <li><%= link_to "Paris", "paris" %></li>
      <li><%= link_to "Paris / Oui", "paris/oui" %></li>
      <li><%= link_to "Léa", "lea" %></li>
    </ul>
  </section>

  <section>
    <h2>Stuttgart</h2>
    <ul>
      <li><%= link_to "Save the Date", "save-the-date" %></li>
      <li><%= link_to "Family", "family" %></li>
      <li><%= link_to "Friends", "friends" %></li>
      <li><%= link_to "Party", "party" %></li>
      <li><%= link_to "Stuttgart", "stuttgart" %></li>
    </ul>
  </section>

  <section>
    <h4>Miscellaneous</h4>
    <ul>
      <li><%= link_to "Disclaimer", "disclaimer" %></li>
      <li><%= link_to "404", "404" %></li>
    </ul>
  </section>
</div>
