<% content_for :assets do %>
  <%= javascript_include_tag "gallery", type: "module" %>
<% end %>

<div
  class="h-30vh-max-50vw"
  style="background-image: url(<%= image_path('la-boum.gif') %>); background-position: center; background-size: cover;"
>
</div>

<div id="gallery">
  <% data.stuttgart.photos.each do |photo| %>
    <a href="<%= photo.src %>"
      data-pswp-width="<%= photo.width %>"
      data-pswp-height="<%= photo.height %>">
      <img src="<%= photo.src %>"
        srcset="<%= photo.srcSet %>"
        width="<%= photo.width %>"
        height="<%= photo.height %>">
    </a>
  <% end %>
</div>

<div class="py-5 bg-primary text-white">
  <div class="container text-center font-family-cinzel">
    <h2>Merci !!!</h2>
  </div>
</div>
